***
## **LISTAS**
***

Las listas son secuencias mutables ya que permiten modificar los valores de sus elementos, eliminar o añadir elementos.

En ellas se pueden almacenar tantos elementos como se desee, incluso pueden existir listas vacías (sin elementos). Para definirlas se utilizan corchetes y se separan los elementos mediante comas :

`nombre_lista = [valor1, valor2, ...]`.

In [10]:
notas = [9.1, 8.5, 7.3]

print(notas)
print(type(notas))

[9.1, 8.5, 7.3]
<class 'list'>

No es necesario que una lista contenga el mismo tipo de datos. Por ejemplo, podemos tener la siguiente lista:

In [2]:
lista = ["UTN", 2, 3.5, True]

print(lista)
print(type(lista))

['UTN', 2, 3.5, True]
<class 'list'>

#### **MÉTODOS CON LISTAS**

**range**

Se puede crear una lista de números automáticamente utilizando `range(inicio, fin)`.

In [3]:
lista_range = list(range(1,10))

print(lista_range)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Por default toma intervalos de 1 en 1. Para modificar esto basta con agregar un argumento a `range(inicio, fin, intervalo)`.

In [ ]:
lista_range = list(range(1,10,2))

print(lista_range)

[1, 3, 5, 7, 9]

**split**

Permite crear una lista a partir de un string, utilizando un caracter específico como separador. Por defecto, utiliza los espacios para separar el string en distintos elementos de la lista.

In [ ]:
hello_world_string = 'Hello world!'
lista_separada = hello_world_string.split()

print(lista_separada)

['Hello', 'world!']

***Slicing***

Es posible acceder a los distintos elementos de una lista utilizando el índice del mismo, de manera análoga a como se realiza con los strings `nombre_lista[índice_elemento]`.

In [6]:
lista = ["UTN", 2, 3.5, True]

posicion_1_lista = lista[0]

print(posicion_1_lista)
print(type(posicion_1_lista))

UTN
<class 'str'>

In [2]:
rango_lista = lista[0:3]
print(rango_lista)

['UTN', 2, 3.5]

***Añadir elementos***

Se usa la sentencia `nombreLista.append(elementoAAñadir)`.

Notar que no es necesario sobreescribir la variable, las sentencia `append()` modifica la lista sin necesidad de sobreescribirla.

In [12]:
print(notas)

[9.1, 8.5, 7.3]

In [13]:
notas.append(9.2)
notas.append(False)
print(notas)

[9.1, 8.5, 7.3, 9.2, False]

***Eliminar elementos***

Se usa la sentencia `nombreLista.remove(elementoAEliminar)`.

In [14]:
notas.remove(9.2)
notas.remove(False)
print(notas)

[9.1, 8.5, 7.3]

***Actualizar elementos***

Para esto se hace uso del slicing. Esta operación diferencia una lista de un string, ya que no puede ser efectuada en el segundo tipo de dato. <Por ejemplo, si queremos actualizar el tercer elemento:

In [15]:
notas[2] = "Hola mundo"

print(notas)

[9.1, 8.5, 'Hola mundo']

***Concatenación***

Se pueden concatenar dos listas usando el operador de la suma (**+**).

In [21]:
notas_2 = notas + ["UTN", True]

print(notas_2)

[9.1, 8.5, 'Hola mundo', 'UTN', True]

***Comprobar si un valor existe dentro de la lista***

Se usa el término `in`.

In [22]:
print(8 in notas_2)

False

In [ ]:
print('UTN' in notas_2)

True

#### **LISTAS ANIDADAS**

Pueden haber listas adentro de otras listas, por ejemplo:

In [ ]:
lista_anidada = [1, 1.3, ["UTN", "Mendoza"]]

print(lista_anidada)

[1, 1.3, ['UTN', 'Mendoza']]

In [ ]:
posicion_2_lista = lista_anidada[2]
print(posicion_2_lista)

['UTN', 'Mendoza']

In [ ]:
posicion_2_1_lista = lista_anidada[2][1]

print(posicion_2_1_lista)

Mendoza

In [ ]:
lista_anidada = [[1,2,3], [4,5,6]]
lista_anidada[0][1]

2

In [ ]:
numeros = [1,2,3]
print(numeros)

[1, 2, 3]

In [ ]:
numeros.append(4)
print(numeros)

[1, 2, 3, 4]

In [ ]:
frutas = "manzana,banana,pera"
lista_frutas = frutas.split(",")
print(lista_frutas)

['manzana', 'banana', 'pera']

In [ ]:
mi_lista = [1]*4
print(mi_lista)

[1, 1, 1, 1]

In [ ]:
lista = ["A", "B", "C"]
for letra in lista:
  print(letra)

A
B
C